/*
 Theme Name:   Stadium Child
 Template:     stadium
*/
body {
  background-color: #000;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 300;
}
.bold,
a {
  font-weight: bold;
}
.about-cols h2,
.pricing-cols {
  text-align: center;
}
.pricing-cols h2,
.pricing-cols h3,
.about-cols h2,
.pricing-cols {
  text-align: center;
}
