/*
 Theme Name:   Stadium Child
 Template:     stadium
*/

body
{
	background-color: #000;
	font-family: 'Rajdhani', sans-serif;
	font-weight: 300;
}

.bold{font-weight: bold;}

a{
	&:extend(.bold);
}


.about-cols h2
{
    text-align: center;
}
h2{}
h3{}
.pricing-cols{
	&:extend(.about-cols h2);
}

.pricing-cols h2,
.pricing-cols h3,
.about-cols h2
{
    text-align: center;
}