/*
Theme Name: Stadium
Theme URI: http://stadium.com/
Description: Best template
Version: 1.0
Author: Your God
*/

// Colors
@mainColor: #fff;
@color1: #C5161D;
@color2: #C5161D;

// Fonts
@mainFont: 'Rajdhani', sans-serif;
@font1: 'Open Sans', sans-serif;

// short
@images: "i/";

//mixins
.bold(){font-weight: bold;}
.center(){text-align: center;}
.border-radius(@radius: 5px){
  -webkit-border-radius: @radius;
     -moz-border-radius: @radius;
          border-radius: @radius;
}

body
{
    background-color: @mainColor;
    font-family: @mainFont;
    font-weight: 300;
}
h1
{
    margin-bottom: 32px;
}
h1,h2
{
    font-size: 30px;
    text-transform: uppercase;
    color: @color1;
}
p, ul
{
    font: 600 16px @font1;
    color: #444;
    margin-bottom: 18px;
    line-height: 30px;
    list-style-type: none;
}
p
{
    line-height: 30px;
}
ul
{
    line-height: 23px;
    list-style-type: none;
    padding: 0;
}

.wrapper-img{
    position: relative;
    padding-bottom: 80%;
    .content-img{
        background-size: contain;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
.news-single-post{
    .wp-post-image{    
        margin: 0 0px 10px 0;
    }
}
.pricing-cols{
    h2{
        .center();
        font-size: 25px;
        margin: 25px 0 0;
    }    
    h3{
        .center();
        font: 300 30px @font1;
        margin: 0 0 10px;
    }
    p{
        font: 300 14px/23px @font1;
    }
    & > div > article{
        background-color: #fff;
        padding: 40px 10px 10px 10px;
        text-align: justify;
    }
}

.about-cols{
    h2{
        .center();
        font-size: 25px;
        margin: 12px 0;
    }
    p{
        font: 300 14px/23px @font1;
    }
    & > div > article{
        background-color: #fff;
        padding: 18px;
        text-align: justify;
    }
} 

ul {
    li {
        span.glyphicon
        {
            list-style-type: none;
            color: @color1;
            font-weight: 600;
            font-size: 10px;
            margin: 0 10px 0 0;
        }
    }
}
.top-logo-menu{
    &.full-opacity{
        opacity: 1;
    }
}
.padding0
{
    padding: 0;
}
.float-none
{
    float: none;
}
.order
{
    background-color: @color1;
    border: 2px solid #fff;
    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 500;
    .center();
    padding: 14px 36px;
    margin-bottom: 20px;
}
select{
    &.form-control{
        background-image: url('@{images}pipka.png');
        appearance: none;
        background-repeat: no-repeat;
        -moz-appearance: none;
        -webkit-appearance: none;
        background-position: 98% 17px;
    }
}
.form-member{
    margin-bottom: 30px;
    clear: both;
    h2{
        .center();
    }
    .form-control{
        border: 1px solid #f6dcdd;
        border-radius: 0;
        box-shadow: inherit;
        padding: 10px;
        height: 60px;
        font: 600 14px @font1;
    }
    select.form-control option{
        color: #444;
        font: 600 14px @font1;
    }
    .form-control::-webkit-input-placeholder,
    .form-control::-moz-placeholder,
    .form-control:-ms-input-placeholder{
        color: #444;
    }
    textarea.form-control{
        min-height: 120px;
    }
}

.arrow{
    background-color: #fff;
    .center();
    margin: 0;
    padding: 0 0 45px;
    a{
        color: @color1;
        font-size: 18px;
        .bold();
        display: inline-block;
        font-family: 'Rajdhani', sans-serif;
        &:hover{
            text-decoration: none;
        }
    }
    .glyphicon{
        .bold();
        display: block;
        font-size: 25px
    }
}

.ad
{
    background-color: #E5E5E5;
    padding: 10px;
    text-transform: uppercase;
    margin-bottom: 20px;
    p{
        color: #B0B0B0;
    }
}

.featured-news-box{
    position: relative;
    height: 326px;
    background-size: cover;
    article{
        position: absolute;
        bottom: 0;
        padding: 0 20px 10px;
    }
    p, h2{
        color: #fff;
    }
    p{
        font-size: 14px;
        font-weight: 300;
        line-height:20px
        span{
            font-size: 12px;
            text-transform: uppercase;
        }
    }
}

.news-content p{
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    span{
        font-size: 12px;
        text-transform: uppercase;
        color: #848484;
    }
}

.member-content{
    background: url('@{images}member_bg.png') 0 0 no-repeat #fff;
    background-size: contain;
    overflow: hidden;
}

.pricing-content{
    background: url('@{images}pricing_bg.png') 0 0 no-repeat #fff;
    background-size: contain;
    overflow: hidden;
}

.about-content{
    background: url('@{images}about_bg.png') 0 0 no-repeat #fff;
    background-size: contain;
    overflow: hidden;
}

.top-cont-text{
    .center();
    overflow: hidden;
    margin: 33px 0;
    .arrow{
        background-color: transparent;
        margin-top: 22px;
    }
    h1{
        font-size: 46px;
        color: #fff;
        margin-bottom: 8px;
        text-transform: none;
        font-weight: 400;
    }
    h3{
        font-size: 30px;
        color: #fff;
        margin-bottom: 0px;
        font-weight: 400;
    }
    p{
        font-size: 14px;
        color: #fff;
        font-weight: 400;
    }
}

.top-img{
    position: relative;
}

.box-img{
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    padding-bottom: 57.2%;
    background-position: 0 bottom;
    p{
        color: #fff;
        background-color: rgba(0,0,0,0.7);
        position: absolute;
        margin: auto;
        left: 0;
        font: 3vw 'Rajdhani', sans-serif;
        width: 18%;
        line-height: inherit;
        height: 8%;
        .center();
        top: 0;
        padding: 0px 0px 0;
        right: 0;
        bottom: 0;
        text-transform: uppercase;
    }
}

div.box-img-top{
    p{
        top: 18%;
    }
}

.top-logo-menu{
    background-color: #fff;
    overflow: hidden;
    opacity: 0.9;
    -webkit-box-shadow: 0 4px 4px -1px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 4px 4px -1px rgba(0,0,0,0.3);
    box-shadow: 0 4px 4px -1px rgba(0,0,0,0.3);
    position: relative;
    z-index: 1;
}

.home-content{
    padding: 60px 0;
}

.news-content{
    background-color: #fff;
    overflow: hidden;
    padding: 60px 0;
}

.double-box-content,
.double-box-content-member{
    position: relative;
    overflow: hidden;
    margin: 31px 4% 31px 0;
    background-size: contain;
    background-position: 100% 50%;
    background-repeat: no-repeat;
    ul{
        font-size: 14px;
    }
    article{
        position: relative;
        width: 60%;
        margin: 20px 0 20px 7%;
        padding: 1% 1% 1% 3%;
        -webkit-box-shadow: 0px 0px 34px -8px rgba(0,0,0,0.52);
        -moz-box-shadow: 0px 0px 34px -8px rgba(0,0,0,0.52);
        box-shadow: 0px 0px 34px -8px rgba(0,0,0,0.52);
        background-color: #fff;
    }
}

div.double-box-content-member{
    background-size: auto 80%;
}

.double-box-content-reverse,
.double-box-content-member-reverse{
    margin: 31px 0 31px 4%;
    background-position: 0% 50%;
    article{
        margin-right: 5%;
        float: right;
    }
}

.navbar{
    margin-bottom: 0;
    margin-top: 26px;
    border: 0;
}

.navbar-nav {
    > li{
        border-bottom: 1px solid @color1;
        > a{
            .center();
        }
    }
}

.navbar-default{
    background-color: inherit;
    border-color: transparent;
    .navbar-toggle{
        border-color: @color1;
        &:focus,
        &:hover{
            background-color: #fff;
        }
        .icon-bar {
            background-color: @color1;
        }
    }
    .navbar-nav{
        > .current-menu-item{
             > a,
             > a:focus,
             > a:hover{
                color: @color1;
                background-color: transparent;
            }
        }
        > li{
            > a{
                color: #414040;
                text-transform: uppercase;
                font: 600 20px 'Rajdhani', sans-serif;
                > &:focus,
                > &:hover{
                    &:extend(.navbar-default .navbar-nav > .current-menu-item > a);
                }
            }
        }
    }
}

.nav{
    > li{
        > a{
            padding: 14px 0px 6px 0px;
        }
    }
}

ul.footer-nav{
    text-transform: uppercase;
    margin: 0 auto;
    padding: 20px 0;
    overflow: hidden;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    .center();
    li{
        display: inline-block;
        margin: 0 2.5%;
    }
    a{
        color: #ebebeb;
        font: 16px 'Rajdhani', sans-serif;
        &:hover{
        text-decoration: none;
        }
    }
}

.footer-bottom-menu{
    padding: 20px 0;
    overflow: hidden;
    p{
        color: #ebebeb;
        font-size: 12px;
        font-weight: inherit;
        .center();
    }
    ul{
        li{
            a{
                font-size: 12px;
                color: #ebebeb;
                font-weight: 300;
            }
        }
    }
}

ul.footer-bottom-nav{
    overflow: hidden;
    .center();
    li{
        display: inline-block;
        margin: 0 2%;
        a{
            color: #fff;
            font-size: 14px;
            &:hover{
                text-decoration: none;
            }
        }
    }
}

footer{
    background-color: @color1;
}

.footer-address{
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin: 25px 0 0;
    padding-bottom: 15px;
    .center();
    button{
        background-color: transparent;
        border: 2px solid #ebebeb;
        text-transform: uppercase;
        color: #ebebeb;
        font-size: 20px;
        .center();
        padding: 14px 54px;
        margin-bottom: 20px;
        font-weight: 500;
    }
    p{
        color: #ebebeb;
        line-height: 16px;
        margin-bottom: 10px;
        font-size: 14px;
        font-weight: inherit;
    }
    ul.contact-info {
        list-style-type: none;
        padding: 0;
        margin: 0;
        li{
            padding: 0;
            color: #ebebeb;
            line-height: 16px;
            margin-bottom: 10px;
            font-size: 14px;
            font-weight: inherit;
            a{
                color: #ebebeb;
                font-weight: normal;
            }
        }
    }
}

.logo {
    img{
        margin-top: 18px;
        margin-bottom: 18px;
    }
}

.wrapper-ad{
    h2{
        margin-top: 0;
    }
    .wrapper-news-box{
        border-bottom: 1px solid @color1;
        margin-bottom: 20px;
        article{
            margin-bottom: 20px;
        }
        h3,p{
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
}

.social-box{
    span.text{
        text-transform: uppercase;
        color: #b1b1b1;
        letter-spacing: 3px;
        font-weight: 400;
    }
}

.btn-social-icon{
    padding: 0 6px;
    border: 0;
    .fa{
        background-color: @color1;
        color: white;
        padding: 7px 7px 7px 8px;
        border-radius: 50%;
        font-size: 20px;
        line-height: 16px;
    }
    .fa-facebook{
        padding: 9px 10px 5px 9px;
        font-size: 25px;
        &:before{
            position: relative;
            top: 3px;
        }
    }
}

.fa-facebook-f:before{
    &:extend(.btn-social-icon .fa-facebook:before);
}

/*start SLIDER*/

.jssorl-004-double-tail-spin {
    img {
        animation-name: jssorl-004-double-tail-spin;
        animation-duration: 1.2s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
}

@keyframes jssorl-004-double-tail-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.jssorb052{
    .i{
        position:absolute;
        cursor:pointer;
        .b{
            fill:#000;
            fill-opacity:0.3;
            stroke:#fff;
            stroke-width:400;
            stroke-miterlimit:10;
            stroke-opacity:0.7;
        }
        &:hover{
            .b{
                fill-opacity:.7;
            }
        }
        &.idn {
            opacity:.3;
        }
    }
    .iav {
        .b {
            fill-opacity: 1;
        }
    }
}

.jssora053 {
    display:block;
    position:absolute;
    cursor:pointer;
    .a {
        fill:none;
        stroke:#fff;
        stroke-width:640;
        stroke-miterlimit:10;
    }
    &:hover {
        opacity:.8;
    }
    &.jssora053dn {
        opacity:.5;
    }
    &.jssora053ds {
        opacity:.3;
        pointer-events:none;
    }
}

/*end SLIDER*/

.news-single-post{
    h1{
        margin-top: 0;
        margin-bottom: 10px;
    }
}

@media (min-width: 768px)
{
    .navbar-nav>li {
        border: 0;
    }
    .wrapper-img
    {
        padding-bottom: 150%;
    }
    .top-img
    {
        z-index: -1;
        margin: -104px 0 0;
    }   
    .box-img-top
    {
        z-index: -1;
        margin: -111px 0 0;
    }
    .navbar-nav 
    {
        float: right;
    }
    .navbar-nav>li 
    {
        margin-right: 7px;
    }
    .navbar-nav>li:hover,
    .navbar-nav>li.current-menu-item
    {
        padding-bottom: 28px;
        border-bottom: 5px solid @color1;
        transition: border-bottom 0.3s;
    }
    .logo
    {
        margin: 18px 0 16px 20%;
    }
    .wrapper-ad
    {
        float: right;
    }
    .news-content,
    .news-single-post{
        padding: 60px 0 60px 3%;
    }
    .pricing-cols,
    .about-cols
    {
        padding: 0 20px;
        overflow: hidden;
    }

    .footer-bottom-menu p {
        text-align: left;
    }
    ul.footer-nav li
    {
        display: inline-block;
        margin: 0 1%;
    }
    .footer-address ul.contact-info li {
        display: inline;
    }
    .wrapper-ad .wrapper-news-box:last-child
    {
        border-bottom: 0px solid @color1;
        margin-bottom: 0px;
    }
}
@media (max-width: 767px)
{
    .news-content{
        .wr-post{
            padding-left: 0;
            padding-right: 0;
        }
    }
}
@media (max-width: 992px)
{
    .news-content .wr-post:nth-child(2n+1){
            clear: left;
        }
}
@media (min-width: 992px)
{
    .news-content .nth-clear:nth-child(3n+4)
    {
        clear: left;
    }
    .box-img-top 
    {
        margin-top: -114px;
    }
    .navbar-nav>li
    {
        margin-right: 47px;
    }
    .news-list .row
    {
        margin-bottom: 70px;
    }
    .footer-address ul.contact-info li {
        display: inline;
    }
}

@media (min-width: 1200px)
{
    .box-img-top {
        margin-top: -116px;
    }
}
